@{
    ViewData["Title"] = "User Dashboard";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@section SidebarMenu {
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="loadDashboardContent('@Url.Action("ChangeProfileImage", "User")'); return false;">Change Profile Image</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="loadDashboardContent('@Url.Action("ChangePassword", "User")'); return false;">Change Password</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="loadDashboardContent('@Url.Action("MyRecipes", "Recipes")'); return false;">My Recipes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="loadDashboardContent('@Url.Action("Activities", "User")'); return false;">Activities</a>
    </li>
    <li class="nav-item mt-3">
        <a class="nav-link text-danger" asp-controller="Account" asp-action="Logout">Logout</a>
    </li>
}


<div id="dashboard-content">
    @await Html.PartialAsync("ChangeProfileImagePartial")
</div>

@section Scripts {
    <script>
        $(function () {
            // AJAX form submit for profile image upload
            $(document).on("submit", "#profileImageForm", function (e) {
                e.preventDefault();
                var formData = new FormData(this);
                $.ajax({
                    url: '@Url.Action("ChangeProfileImage", "User")',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        $("#dashboard-content").html(result);
                    }
                });
            });
        });
    </script>
}
